In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import string
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [3]:
# Any results you write to the current directory are saved as output.
data = pd.read_csv("K:\Coding\Data Science\Self\Spam Classifier\spam.csv",encoding='latin-1')

data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
data = data.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)
data = data.rename(columns={"v1":"class", "v2":"text"})
data.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data['length'] = data['text'].apply(len)
data.head()

  class                                               text  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [8]:
def pre_process(text):
    
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    words = ""
    for i in text:
            stemmer = SnowballStemmer("english")
            words += (stemmer.stem(i))+" "
    return words

In [9]:
textFeatures = data['text'].copy()
textFeatures = textFeatures.apply(pre_process)
vectorizer = TfidfVectorizer("english")
features = vectorizer.fit_transform(textFeatures)

features_train, features_test, labels_train, labels_test = train_test_split(features, data['class'], test_size=0.3, random_state=111)

In [10]:
#svm sigmoid
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

module = SVC(kernel='sigmoid', gamma=1)
module.fit(features_train, labels_train)
prediction = module.predict(features_test)
accuracy_score(labels_test,prediction)

0.9784688995215312

In [15]:
#svm linear
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

svc = SVC(kernel='linear', gamma=1)
svc.fit(features_train, labels_train)
prediction = svc.predict(features_test)
accuracy_score(labels_test,prediction)

0.9814593301435407

In [12]:
#Multinomial Byes
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(features_train, labels_train)
MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
prediction = clf.predict(features_test)
accuracy_score(labels_test,prediction)

0.9593301435406698

In [13]:
from sklearn.datasets import load_iris
from sklearn import tree
iris = load_iris()
clf = tree.DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
clf.fit(features_train, labels_train)
#MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
prediction = clf.predict(features_test)
accuracy_score(labels_test,prediction)

0.9605263157894737

In [14]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
X, y = load_iris(return_X_y=True)
clf = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X, y)
clf = clf.fit(features_train, labels_train)
clf.fit(features_train, labels_train)
#MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
prediction = clf.predict(features_test)
accuracy_score(labels_test,prediction)

C:\Users\saura\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.9623205741626795